footer {
    display: flex;
    justify-content: center;
    padding: 20px 0 50px 0;
    font-size: 14px;

    div {
        display: flex;
        justify-content: center;

        p {
            color: $medium-grey;
            text-align: center;

        }
    }

    @include desktop {
        justify-content: flex-start;
        padding-left: 50px;
    }    
}