header {
    display: flex;
    width: 200px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;

    img {
        flex: 1 0 100%;
    }

    p {
        justify-content: center;
        text-align: center;
        font-size: 20px;
    }
}


#categories {
    width: 150px;
    height: 25px;
    justify-content: center;
}
